@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
    /*font-family: 'Noto Sans TC', sans-serif;*/
    padding-top: 50px;
}

.loginAvater {
    height: 18px;
}

.highwayCamera {
    border: 0;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
}